<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kySharing</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NoteListServlet</display-name>
    <servlet-name>NoteListServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.NoteListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteListServlet</servlet-name>
    <url-pattern>/NoteListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNoteServlet</display-name>
    <servlet-name>AddNoteServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.AddNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNoteServlet</servlet-name>
    <url-pattern>/AddNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNoteServlet</display-name>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.DeleteNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <url-pattern>/DeleteNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditNoteServlet</display-name>
    <servlet-name>EditNoteServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.EditNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNoteServlet</servlet-name>
    <url-pattern>/EditNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNoteServlet</display-name>
    <servlet-name>UpdateNoteServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.UpdateNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNoteServlet</servlet-name>
    <url-pattern>/UpdateNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchNoteServlet</display-name>
    <servlet-name>SearchNoteServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.SearchNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchNoteServlet</servlet-name>
    <url-pattern>/SearchNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoteListPageServlet</display-name>
    <servlet-name>NoteListPageServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.NoteListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoteListPageServlet</servlet-name>
    <url-pattern>/NoteListPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewNoteServlet</display-name>
    <servlet-name>ViewNoteServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.ViewNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewNoteServlet</servlet-name>
    <url-pattern>/ViewNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EResourcesListServlet</display-name>
    <servlet-name>EResourcesListServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.EResourcesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EResourcesListServlet</servlet-name>
    <url-pattern>/EResourcesListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEResourcesServlet</display-name>
    <servlet-name>AddEResourcesServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.AddEResourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEResourcesServlet</servlet-name>
    <url-pattern>/AddEResourcesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEResourcesServlet</display-name>
    <servlet-name>DeleteEResourcesServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.DeleteEResourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEResourcesServlet</servlet-name>
    <url-pattern>/DeleteEResourcesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEResourcesServlet</display-name>
    <servlet-name>EditEResourcesServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.EditEResourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEResourcesServlet</servlet-name>
    <url-pattern>/EditEResourcesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEResourcesServlet</display-name>
    <servlet-name>UpdateEResourcesServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.UpdateEResourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEResourcesServlet</servlet-name>
    <url-pattern>/UpdateEResourcesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEResourcesServlet</display-name>
    <servlet-name>SearchEResourcesServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.SearchEResourcesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEResourcesServlet</servlet-name>
    <url-pattern>/SearchEResourcesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PResourcesListServlet</display-name>
    <servlet-name>PResourcesListServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.PResourcesListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PResourcesListServlet</servlet-name>
    <url-pattern>/PResourcesListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeServlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUserServlet</display-name>
    <servlet-name>RegisterUserServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUserServlet</servlet-name>
    <url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserServlet</display-name>
    <servlet-name>FindUserServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.FindUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserServlet</servlet-name>
    <url-pattern>/FindUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>pers.fangxin.ky.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
</web-app>